<div class="search">
  <app-search (userSearch)="findCourseFromSearch($event)"></app-search>
</div>

<div class="add">
  <button class="add__course" [routerLink]="['./add']">
    <span class="add__icon"><i class="fas fa-plus"></i></span>
    Add course
  </button>
</div>

<div class="courses">


  <ng-container *ngIf="(courses | async) as courses">
    <ng-container *ngIf="courses.length else noCourse">
      <app-course-item
        *ngFor="let course of courses"
        [course]="course"
        (deleted)="onDelete($event)"
        (edited)="onEdit($event)"></app-course-item>
    </ng-container>
  </ng-container>
  <ng-template #noCourse>
    <div class="courses__absent">
      Courses not found
    </div>
  </ng-template>

  <div class="courses__error" *ngIf="error| async as error">
    <app-error-dialog
      [error]="error"
      (closeDialog)="closeError()"></app-error-dialog>
  </div>

  <button class="load-more" (click)="loadMore()">
    Load More
  </button>
</div>
