<div class="search">
  <app-search></app-search>
</div>

<div class="add">
  <button class="add__course" [routerLink]="['./add']">
    <span class="add__icon"><i class="fas fa-plus"></i></span>
    Add course
  </button>
</div>

<div class="courses">
  <div class="course">
    <div class="course__content">
      <div class="course__head">
        <div class="course__header">DUIS MOLLIT REPREHENDERIT AD</div>
        <div class="course__info">
          <div class="course__time"><i class="far fa-clock"></i> 2h 37min</div>
          <div class="course__date"><i class="far fa-calendar-alt"></i> 28 Sep, 2017</div>
        </div>
      </div>
      <div class="course__text">
        Est minim ea aute sunt laborum minim eu excepteur. Culpa sint exerctation mollt enim ad culpa aliquip laborum cillum. Dolor officia
        ‘culpa labore ex eiusmod ut est ea voluptate ea nostrud.
      </div>
    </div>
    <div class="course__controls">
      <button class="course__edit"><i class="fas fa-pencil-alt"></i> Edit</button>
      <button class="course__delete"><i class="fas fa-trash"></i> Delete</button>
    </div>
  </div>

  <div class="course">
    <div class="course__content">
      <div class="course__head">
        <div class="course__header">MAGNA EXCEPTEUR AUTE DESERUNT</div>
        <div class="course__info">
          <div class="course__time"><i class="far fa-clock"></i> 3h 27min</div>
          <div class="course__date"><i class="far fa-calendar-alt"></i> 31 May, 2016</div>
        </div>
      </div>
      <div class="course__text">
        Sunt culpa officia minim commodo eiusmod irure sunt nostrud. Mollt aliquip id occaecat officia proident anim dolor oficia qui voluptate
        ‘consectetur laborum. Duis incididunt culpa aliqua mollt do fugiat ea dolor mollit irure Lorem tempor.
      </div>
    </div>
    <div class="course__controls">
      <button class="course__edit"><i class="fas fa-pencil-alt"></i> Edit</button>
      <button class="course__delete"><i class="fas fa-trash"></i> Delete</button>
    </div>
  </div>

  <div class="course">
    <div class="course__content">
      <div class="course__head">
        <div class="course__header">MAGNA EXCEPTEUR AUTE DESERUNT</div>
        <div class="course__info">
          <div class="course__time"><i class="far fa-clock"></i> 3h 27min</div>
          <div class="course__date"><i class="far fa-calendar-alt"></i> 31 May, 2016</div>
        </div>
      </div>
      <div class="course__text">
        Sunt culpa officia minim commodo eiusmod irure sunt nostrud. Mollt aliquip id occaecat officia proident anim dolor oficia qui voluptate
        ‘consectetur laborum. Duis incididunt culpa aliqua mollt do fugiat ea dolor mollit irure Lorem tempor.
      </div>
    </div>
    <div class="course__controls">
      <button class="course__edit"><i class="fas fa-pencil-alt"></i> Edit</button>
      <button class="course__delete"><i class="fas fa-trash"></i> Delete</button>
    </div>
  </div>

  <button class="load-more">
    Load More
  </button>
</div>
