@font-face {
  font-family: 'HindSiliguri-Regular';
  src:
    url(../../fonts/hindi-regular/HindSiliguri-Regular.eot?) format("eot"),
    url(../../fonts/hindi-regular/HindSiliguri-Regular.ttf) format("truetype"),
    url(../../fonts/hindi-regular/HindSiliguri-Regular.woff) format("woff"),
    url(../../fonts/hindi-regular/HindSiliguri-Regular.woff2) format("woff2");
}

@font-face {
  font-family: 'HindSiliguri-bold';
  src:
    url(../../fonts/hindi-bold/HindSiliguri-SemiBold.eot?) format("eot"),
    url(../../fonts/hindi-bold/HindSiliguri-SemiBold.ttf) format("truetype"),
    url(../../fonts/hindi-bold/HindSiliguri-SemiBold.woff) format("woff"),
    url(../../fonts/hindi-bold/HindSiliguri-SemiBold.woff2) format("woff2");
}

@font-face {
  font-family: 'HindSiliguri-medium';
  src:
    url(../../fonts/hindi-medium/HindSiliguri-Medium.eot?) format("eot"),
    url(../../fonts/hindi-medium/HindSiliguri-Medium.ttf) format("truetype"),
    url(../../fonts/hindi-medium/HindSiliguri-Medium.woff) format("woff"),
    url(../../fonts/hindi-medium/HindSiliguri-Medium.woff2) format("woff2");
}

@font-face {
  font-family: 'LucidaGrande-regular';
  src:
    url(../../fonts/lucida_regular/LucidaGrande.eot?) format("eot"),
    url(../../fonts/lucida_regular/LucidaGrande.ttf) format("truetype"),
    url(../../fonts/lucida_regular/LucidaGrande.woff) format("woff"),
    url(../../fonts/lucida_regular/LucidaGrande.woff2) format("woff2");
}
