@mixin top($widthFifure, $widthParagraph, $font) {
  &__top {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 65px;
  }

  &__header {
    align-self: center;
    font: bold 1.5rem HindSiliguri-bold, sans-serif;
  }

  &__figure {
    align-self: center;
    width: $widthFifure;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    height: 8px;
    position: relative;
    margin-bottom: 15px;
  }

  &__figure::before,
  &__figure::after {
    position: absolute;
    display: block;
    content: "";
    width: 5px;
    height: 0;
    border-top: 1px solid black;
  }

  &__figure::before {
    left: -5px;
  }

  &__figure::after {
    right: -5px;
  }

  &__paragraph {
    width: $widthParagraph;
    text-align: center;
    align-self: center;
    font: 1.0625rem $font, sans-serif;
  }
}

@mixin button {
  box-sizing: border-box;
  padding: 10px 26px;
  background: transparent;
  border: 1px solid $buttonTextColor;
  outline: none;
  font: 0.9375rem HindSiliguri-Regular, sans-serif;
  border-radius: 5px;
  cursor: pointer;
}

@mixin buttonHover {
  background: $buttonHover;
  color: #fff;
}
