$fontSize: 16px;
$fontSizeSmall: 14px;
$textColor: #4d4949;
$logoColor: #4d4949;
$navTextColor: #4d4949;
$buttonHover: #393737;
$inputBorderColor: #4d4949;
$borderFormInputColorFocused: #333;
$borderFormInputColorInvalid: #f00;
$postTopColor: #4d4949;
$postTextColor: #4d4949;
$buttonTextColor: #4d4949;
$buttonHover: #393737;
$descriptionBackground: #fcf6f6;
$buttonLoadMoreBackground: #4d4c49;
$buttonLoadMoreText: #fff;
$footerBackground: #f8f8f8;
