$headerBackground: #e9eae2;
$triangleBackground: #e9eae2;
$triangleColor: #ffc2a6;
$mainFontSize: 16px;
$fontNameColor: #578b84;
$sectionContentBackground: #fff;
$textColor: #5a5a5a;
$shakerBackgroundColor: #bfe79e;
$shakersColor: #85ba59;
$bowlsBackgroundColor: #ffc2a6;
$bowlsColor: #ff915e;
$potsBackgroundColor: #7dd5c9;
$labelChecked: #7dd5c9;
$footerTextColor: #c5c1c1;
