.fa-play-circle {
  font-size: 1.5em;
  color: magenta;
  background: radial-gradient(circle at 33% 100%, lightgreen 4%,  green 28%, #03ffe8 62%, lightblue 85%, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo {
  width: 100%;
  height: 70px;
  font-size: 1.2em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  cursor: pointer;

  &__logotype {
    margin-right: 20px;
  }
}
