$fontSize: 16px;
$fontSizeSmall: 14px;
$textColor: #4d4949;
$navTextColor: #4d4949;
$logoColor: #4d4949;
$exploreButtonBackground: #4d4c49;
$buttonHover: #393737;
$buttonDisabled: #4d4c49;
$sliderTextColor: #fff;
$controlsBorderColor: #4d4949;
$quoteBackground: #494a4d;
$contactsBackground: #f8f8f8;
$formBackground: #fff;
$borderFormInputColor: #dcdcdc;
$borderFormInputColorFocused: #333;
$borderFormInputColorInvalid: #f00;
$cardHeaderBackground: #f8f8f8;
$cardFormButtonBackground: #4d4949;
$footerBackground: #f8f8f8;
$footerBorderColor: #ddd;
