$fontColor: $grey;
$buttonBackgroundColor: $blue;
$benefitTextColor: $grey;
$textColor: $grey;
$buttonTextColor: $white;

$headerTextColor: $white;
$formBackground: $white;
$formTextColor: $grey;
$inputColorBorder: $darkGrey;
$wrapperBackgroundColor: $lightGrey;
$labelBackground: $lightGrey;
$footerBackground: $lightGrey;
