@font-face {
  font-family: 'LibreFranklin-Regular';
  src:
    url(../fonts/LibreFranklin-Regular.eot?) format("eot"),
    url(../fonts/LibreFranklin-Regular.ttf) format("truetype"),
    url(../fonts/LibreFranklin-Regular.woff) format("woff"),
    url(../fonts/LibreFranklin-Regular.woff2) format("woff2");
}

@font-face {
  font-family: 'LucidaGrande-regular';
  src:
    url(../fonts/lucida_regular/LucidaGrande.eot?) format("eot"),
    url(../fonts/lucida_regular/LucidaGrande.ttf) format("truetype"),
    url(../fonts/lucida_regular/LucidaGrande.woff) format("woff"),
    url(../fonts/lucida_regular/LucidaGrande.woff2) format("woff2");
}

@font-face {
  font-family: 'LucidaGrande-Bold';
  src:
    url(../fonts/Lucida_Bold/LucidaGrande-Bold.eot?) format("eot"),
    url(../fonts/Lucida_Bold/LucidaGrande-Bold.ttf) format("truetype"),
    url(../fonts/Lucida_Bold/LucidaGrande-Bold.woff) format("woff"),
    url(../fonts/Lucida_Bold/LucidaGrande-Bold.woff2) format("woff2");
}
