$fontSize: 16px;
$fontSizeSmall: 14px;
$textColor: #4d4949;
$logoColor: #4d4949;
$navTextColor: #4d4949;
$quoteBorderColor: #e6e6e6;
$postBorderBottomColor: #ddd;
$buttonTextColor: #4d4949;
$buttonHover: #393737;
$latestBackground: #fcf6f6;
$categoriesBackground: #fcf6f6;
$tagsBackground: #fcf6f6;
$reviewBackground: #fcf6f6;
$footerBackground: #f8f8f8;
$borderFormInputColor: #dcdcdc;
$borderFormInputColorFocused: #333;
$borderFormInputColorInvalid: #f00;
